* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --gray: #666666;
  --very-light-gray: #bbb;
  --purple: #705dcb;
  --teal: #4ca2bd;
  --green: #065f46;
  --burnt-orange: #92400e;
  --faded-yellow: #fdf9d3;
  --faded-green: #e4ffee;
  --faded-purple: #eff2ff;
  --faded-red: #f8e8e5;
  --faded-blue: #eff7fa;
  --faded-darker-purple: #eaedf9;
  --editor-bg-light: #1e242e;
  --editor-bg-dark: #151a21;
  --shadow: #999;
  --animation-timing: cubic-bezier(0.8, 0, 0.2, 1);
}

html {
  font-size: 16px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color;
  line-height: 1.5;
  color: var(--black);
}

.header {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.header .logo_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  cursor: pointer;
}
.header .logo_title .logo {
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--purple);
}

.header .logo_title .title {
  font-size: 1.875rem;
  font-weight: 700;
}

.title em {
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  max-width: 500px;
  text-align: left;
}

.main .content h2 {
  font-size: 2rem;
  color: var(--editor-bg-dark);
  margin-bottom: 1rem;
}
.content p {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 1rem;
}

.content a {
  color: var(--burnt-orange);
  text-decoration: none;
}

.main .content .enter {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  margin: 1rem 0rem 1rem 0rem;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
}

.enter > input.color_value {
  flex: 2;
  width: 100%;
  color: var(--very-light-gray);
  border-bottom: 1px solid var(--very-light-gray);
}

.enter > input:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--purple) !important;
  transition: all 500ms;
}

.main .content .splash {
  margin-top: 4rem;
  width: 500px;
  height: 500px;
  background-color: #fff;
}
